
</div><!--sidebar-->
</aside>

<!-- right -->
<div class="firtz-width-medium-2-3" style="min-height: 967px;    padding-left: 220px;">
    <main class="firtz-content">

        <?php
/*
        <ul class="firtz-breadcrumb">
        <li> Willkommen, <b>{{ @sysop }}</b></li>
        <li><a href="{{@BASEURL}}">Home</a></li>
        </ul>
        */
        ?>
        <!--article-->
        <div class="firtz-grid" data-firtz-grid-match="" data-firtz-grid-margin="">
            <div class="firtz-width-medium-1-1">

                <!--episode-->
